// section {
//     max-width: 1500px;
//     margin: auto;
//     position: relative;

// }

#profile-page{
    margin-left: 100px;
    margin-right: 100px;
}

div {
    justify-content: space-evenly;
    
}

.user-profile{
    width: 100%;
    margin-left: 50px;   
}

section>div{
    margin-right: 450px;
}